@model CProject.Models.findFactorialViewModel

@{
    ViewBag.Title = "findFactorial";
}

<h2>Find Factorial</h2>

<form action="@Url.Action("findFactorial", "Exercises")" method="post">
    <label>Input Numbers: </label><input type="text" autofocus name="number" value="@if (@Model != null) { @Model.number}" /><br />
    <br />
    <label>Results: </label><input type="text" name="result" value="@if(@Model != null) { @Model.result}" disabled /><br />
    <br />
    <button type="submit">Factorial</button>
</form>