@model CProject.Models.FizzBuzzViewModel

@{
    ViewBag.Title = "FizzBuzz";
}

<h2>FizzBuzz</h2>

<form action="@Url.Action("FizzBuzz", "Exercises")" method="post">
    @*<label></label><input type="number" style="height:1px;width:px" value="@if(@Model != null) { @Model.nada}" disabled hidden />
    <label>FizzBuzz: </label><input type="number" style="height:100px;width:400px" value="@if(@Model != null) { @Model.output}" disabled /><br />*@
    <br />
    <button type="submit">Run</button>
</form>

@if (Model != null)
{
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <td></td>
            </tr>
        </thead>
        <tbody>

            @foreach (var element in Model.output)
            {               
                <tr>
                    <td>@element</td>
                </tr>
            }

        </tbody>
    </table>
}