@model CProject.Models.FizzBuzzViewModel

@{
    ViewBag.Title = "FizzBuzz";
}

<h2>FizzBuzz</h2>

<form action="@Url.Action("FizzBuzz", "Exercises")" method="post">
    @*<label></label><input type="number" style="height:1px;width:px" value="@if(@Model != null) { @Model.nada}" disabled hidden />
    <label>FizzBuzz: </label><input type="number" style="height:100px;width:400px" value="@if(@Model != null) { @Model.output}" disabled /><br />*@
    <br />
    <button type="submit">Run</button>
</form>

@if (Model != null)
{
    <table class="table table-responsive table-striped table-hover">
        <thead>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
        </thead>
        <tbody>

            @for(var outerCounter = 0; outerCounter <  10; outerCounter++)
            {               
                <tr>
                    @for(var innerCounter = 0; innerCounter < (Model.output.Count / 10) +1; innerCounter++)
                    {
                        if ((innerCounter * 10 + outerCounter) < Model.output.Count)
                        {
                            <td>@Model.output.ElementAt(innerCounter*10 + outerCounter)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }



        </tbody>
    </table>
}