@model CProject.Models.SumMultViewModel

@{
    ViewBag.Title = "Sum and Multiply";
}

<h2>SumMult</h2>

<form action="@Url.Action("SumMult", "Exercises")" method="post">
    <label>Input Numbers: </label><input type="text" autofocus  name="number" value="@if (@Model != null) { @Model.number}" /><br />
    <br />
    <label>Result: </label><input type="text" name="sum" value="@if(@Model != null) { @Model.result}" disabled /><br />
    <br />
    <button type="submit">SumMult</button>
</form>